@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #cbe5f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(320deg, #0b275e, #122445, #0e0f3a);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
